/*
	Grid de 6
*/
.section {
  clear: both;
  padding: 0;
  margin: 0;
}
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.8%;
}
.col:first-child {
  margin-left: 0;
}
.group {
  zoom: 1;
}
.group:before {
  content: "";
  display: table;
}
.group:after {
  clear: both;
  content: "";
  display: table;
}
.span_1_of_6 {
  width: 15.16%;
}
.span_5_of_6 {
  width: 83.03%;
}
/*
-- Estilo
*/
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.botonMenu {
  background: transparent;
  cursor: pointer;
  height: 125px;
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  z-index: 99;
}
body {
  background: #fff;
  font-family: 'carmina';
  font-size: 16px;
  width: 100%;
}
body .contenedorAwards {
  background: url("../img/bg_awards.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 748px;
  overflow: hidden;
  padding-top: 135px;
  position: relative;
  width: 1024px;
}
body .contenedorAwards .galeria {
  display: none;
  height: 529px;
  margin: 45px auto 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  width: 815px;
}
body .contenedorAwards .galeria .cuadro {
  background: #f00;
  border: 2px solid #fff;
  cursor: pointer;
  position: absolute;
}
body .contenedorAwards .galeria .chico {
  height: 113px;
  margin: 13.5px;
  padding: 0;
  width: 114px;
}
body .contenedorAwards .galeria .s1 {
  background: url("../img/awards/01.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0;
  margin-left: 0;
}
body .contenedorAwards .galeria .s2 {
  background: url("../img/awards/02.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 0;
  margin-top: 140px;
}
body .contenedorAwards .galeria .s3 {
  background: url("../img/awards/03.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 0;
  margin-top: 278px;
}
body .contenedorAwards .galeria .s4 {
  background: url("../img/awards/04.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 278px;
  margin-bottom: 0;
  margin-left: 141px;
}
body .contenedorAwards .galeria .s5 {
  background: url("../img/awards/05.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 278px;
  margin-bottom: 0;
  margin-left: 281px;
}
body .contenedorAwards .galeria .s6 {
  background: url("../img/awards/06.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 278px;
  margin-bottom: 0;
  margin-left: 421px;
}
body .contenedorAwards .galeria .s7 {
  background: url("../img/awards/07.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 278px;
  margin-bottom: 0;
  margin-left: 561px;
}
body .contenedorAwards .galeria .s8 {
  background: url("../img/awards/08.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 278px;
  margin-bottom: 0;
  margin-left: 701px;
}
body .contenedorAwards .galeria .s9 {
  background: url("../img/awards/09.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 0;
  margin-top: 416px;
}
body .contenedorAwards .galeria .s10 {
  background: url("../img/awards/10.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 141px;
  margin-top: 416px;
}
body .contenedorAwards .galeria .s11 {
  background: url("../img/awards/11.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 281px;
  margin-top: 416px;
}
body .contenedorAwards .galeria .s12 {
  background: url("../img/awards/12.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 421px;
  margin-top: 416px;
}
body .contenedorAwards .galeria .s13 {
  background: url("../img/awards/13.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 561px;
  margin-top: 416px;
}
body .contenedorAwards .galeria .s14 {
  background: url("../img/awards/14.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 701px;
  margin-top: 416px;
}
body .contenedorAwards .galeria .grande {
  background: url("../img/awards/01-large.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 253px;
  margin: 0 0 0 141px;
  padding: 0;
  transition: background 1s ease-in-out;
  width: 674px;
}
